<%= link_to playground_path(playground) do %>
  <div class="card-playground">
    <%= image_tag playground.banner_url %>
    <div class="card-playground-infos">
      <div>
        <h2><%= playground.name %></h2>
      </div>
    </div>
  </div>
<% end %>


